<!DOCTYPE html>
<html lang=zh-cmn-Hans>


<head>
	<title>KNIT - Creative Personal Portfolio Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="Knit creative personal portfolio template">
	<meta name="keywords" content="knit, creative, personal, portfolio, template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="img/favicon.png" rel="shortcut icon"/>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/themify-icons.css"/>
	<link rel="stylesheet" href="css/style.css"/>

	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Preloder 
	<div id="preloder">
		<div class="loader"></div>
	</div>
-->

	<!-- Header section start -->
	<header class="header-section">
		<div class="container">
			<div class="header-warp">
				<!-- Site Logo -->
				<a href="#" class="site-logo">
					<img src="img/logo.png" alt="">
				</a>
				<!-- Site Menu -->
				<div class="responsive-switch"><i class="fa fa-bars"></i></div>
				<nav class="site-menu">
					<div class="sm-close"><i class="ti-close"></i></div>
					<ul class="menu-list">
						<li><a href="index.html">首页</a></li>
						<li><a href="#about">关于</a></li>
						<li><a href="#resume">简历</a></li>
						<li><a href="#works">项目</a></li>
						<li><a href="#contact">采集</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Contact section start -->
	<section class="contact-section spad" id="contact">
		<div class="container">
			<div class="section-title">
				<p>采集</p>
				<h2>个人简历</h2>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="row">
						<!-- contact info -->
						<div class="col-sm-4 cont-info wow fadeInUp" data-wow-delay="0.2s">
							<i class="ti-email"></i>
							<a href="mailto:office@domain.com">office@domain.com</a>
							<p>email</p>
						</div>
						<!-- contact info -->
						<div class="col-sm-4 cont-info wow fadeInUp" data-wow-delay="0.4s">
							<i class="ti-location-pin"></i>
							<span>35 M St, Sydney, 560, AU </span>
							<p>Address</p>
						</div>
						<!-- contact info -->
						<div class="col-sm-4 cont-info wow fadeInUp" data-wow-delay="0.6s">
							<i class="ti-mobile"></i>
							<span>+00 123 456 7890</span>
							<p>Phone</p>
						</div>
					</div>
					<!-- contact form -->
					<form action="contactServlet" method="POST" class="contact-form" id="contact-form">
						<div class="row">
							<div class="col-sm-6">
								<input type="text" name="name" id="name" required placeholder="Your Name">
							</div>
							<div class="col-sm-6">
								<input type="email" name="email" id="email" required placeholder="Email address">
							</div>
							<div class="col-sm-1">
								<h1>男</h1>
							</div>
							<div class="col-sm-2">
								<input type="radio" name="sex" id="sex" title="male" value="M">
							</div>
							<div class="col-sm-1">
								<h1>女</h1>
							</div>
							<div class="col-sm-2">
								<input type="radio" name="sex" id="sex" title="female" value="F">
							</div>
							<div class="col-sm-6">
								<select name="sel">
									<option value="">-选择学科分类--</option>
									<option value="0">文学</option>
									<option value="1">理学</option>
									<option value="2">工学</option>
									<option value="3">农学</option>
									<option value="4">医学</option>
									<option value="5">其它</option>
								</select>
							</div>
							<div class="col-sm-2">
								<h1>文艺</h1>
							</div>
							<div class="col-sm-1">
								<input type="checkbox" name="fav" id="fav" value="art">
							</div>
							<div class="col-sm-2">
								<h1>运动</h1>
							</div>
							<div class="col-sm-1">
								<input type="checkbox" name="fav" id="fav" value="athl">
							</div>
							<div class="col-sm-2">
								<h1>美食</h1>
							</div>
							<div class="col-sm-1">
								<input type="checkbox" name="fav" id="fav" value="food">
							</div>
							<div class="col-sm-2">
								<h1>其它</h1>
							</div>
							<div class="col-sm-1">
								<input type="checkbox" name="fav" id="fav" value="oth">
							</div>
							<div class="col-sm-12">
								<textarea id="massage" name="massage" required placeholder="Your Massage"></textarea>
								<div class="text-center">
									<button type="submit" class="site-btn" id="send-form">Send Massege</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->


	<!-- Footer section start -->
	<footer class="footer-section spad set-bg" data-setbg="img/footer-bg.svg">
		<div class="container">
			<div class="social-links">
				<a href="#" class="facebook wow fadeInDown" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a>
				<a href="#" class="twitter wow fadeInDown" data-wow-delay="0.4s"><i class="fa fa-twitter"></i></a>
				<a href="#" class="dribbble wow fadeInDown" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a>
				<a href="#" class="behance wow fadeInDown" data-wow-delay="0.8s"><i class="fa fa-behance"></i></a>
			</div>
			<!-- copyright -->
			<p class="copyright">Copyright &copy; 2018 KNIT, More Templates <a href="#" target="_blank" title="模板">测试模板</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		</div>
	</footer>
	<!-- Footer section end -->


</body>


</html>
